/* google font import */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@layer utilities {
    .font-garamond {
        font-family: "EB Garamond", serif;
    }

    .font-poppins {
        font-family: "Poppins", sans-serif;
    }

    .bg-custom-gradient{
        background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.164)),url(./images/banner.png);
    }

    .practice-custom-gradient{
        background-image: linear-gradient(#e7e7e760,rgba(255, 255, 255, 0.568));
    }
}


@import "tailwindcss"